<header class="bg-dark text-white py-3">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="mb-0"><a href="/" class="text-white text-decoration-none">Stephen</a></h1>
      <nav>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link text-white" href="/">首页</a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-white" href="/categories">分类查看</a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-white" href="/newest">最新文章</a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-white" href="/message">留言</a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-white" href="/contact">联系我</a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-white" href="/about">关于</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>