<header class="bg-dark text-white py-3">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="mb-0"><a href="/" class="text-white text-decoration-none">Fernando Cejas</a></h1>
      <nav>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link text-white" href="/">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/">Tech Talks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/">Podcasts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/">About Me</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>